[user]
	name = Jacek Dominiak
	email = jacek@effortable.com
[push]
	default = simple
[alias]
  s = status -sb
  c = commit -am
  h = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  p = push
  g = pull
  e = checkout
  b = checkout -
